SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
OPENALEX_API_KEY=
GEONAMES_USERNAME=
RESEND_API_KEY=
LEAD_NOTIFICATION_FROM=
LEAD_NOTIFICATION_TO=clinigaeducation@gmail.com
VITE_STRIPE_PLUS_MONTHLY_URL=
VITE_STRIPE_PLUS_YEARLY_URL=
VITE_STRIPE_PRO_MONTHLY_URL=
VITE_STRIPE_PRO_YEARLY_URL=
VITE_STRIPE_CUSTOMER_PORTAL_URL=
